body {
    background-color: #FFCCFF;
}

#cta {
    background-color: black;
    color: white;
}

#headline {
    color: #FF9933;
    background-color: white;
    padding: 2em;
}

.pad-sm {
    padding: 1em;
}

.nomargin {
    margin: 0px;
}

#thankyou {
    color: black;
}

.vp {
    padding-bottom: 1em;
}
