a.navbar-brand img {
    max-height: 30px;
}

body {
    background-image: url(./wood.jpg);
    background-size: cover;
    margin-top: 50px;
}

#catchphrase {
    color: #6633CC;
}

#cta {
    background: rgb(238, 238, 238);
    background: rgba(238, 238, 238, .75);
    min-height: 90vh;
    padding-bottom: 25px;
    padding-top: 15%;
    text-shadow: 0px 2px 2px rgba(150, 152, 150, 1);
}

.feature {
    padding-bottom: 7.5%;
    padding-top: 7.5%;
}

.feature-container, .feature-separator {
    background-color: white;
    position: relative;
}

#headline {
    position: relative;
}

.hide {
    display: none;
}

.join-container {
    position: relative;
}

.pad {
    padding: 1em;
}

.separator {
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: -10px;
}
